extends layout

block content
  #controller
    h1= title
    if message != null
      p= message
    form(action="/times/add", method="post")#add-form
      div.fieldcontainer
        fieldSet(data-role="controlgroup")
          label(for='firstName') Voornaam:
          input(id="firstName",type="text",name="firstName")
      div.fieldcontainer
        fieldSet(data-role="controlgroup")
          label(for='lastName') Achternaam:
          input(id="lastName",type="text",name="lastName")
      div.fieldcontainer
        fieldSet(data-role="controlgroup")
          label(for='age') Leeftijd:
          input(id="age",type="number",name="age")
      div.fieldcontainer
        fieldSet(data-role="controlgroup")
          label(for='time') Tijd (in miliseconden):
          input(id="time",type="number",name="time")
      div.fieldcontainer
        fieldSet(data-role="controlgroup")
          label(for='pro') Pro?:
          input(id="pro",type="checkbox",name="pro",value="true")
      div#submit 
        input(type='submit',value='Toevoegen', data-transition='fade', data-theme='c')
    #edit-forms 
      #edit-headers 
        p="First name"
        p="Last name"
        p="Age"
        p="Time"
        p="Pro?"  
      #edit-container
        each time in times
          form(action="/times/edit", method="post").edit-form
            .visible-forms
              input(type="text",value=time.firstName,name="firstName")
              input(type="text",value=time.lastName,name="lastName")
              input(type="number",value=time.age,name="newAge")
              input(type="number",value=time.time,name="newTime")
              if time.pro === true 
                input(type="checkbox",value="true",name="newPro",checked)
              else
                input(type="checkbox",value="true",name="newPro")
              input(type="submit",value="edit")
            .invisible-forms
              input(type="hidden",value=time.id,name="id")
          form(action="/times/delete", method="post").delete-form
            input(type="hidden",value=time.id,name="id")
            input(type="submit",value="delete")
          
