extends layout

block content
  #container
    #overview
      #reg-comp
        table
          tr
            th= " "
            th= "Age"
            th.right= "Time"
          each time in visitors
            tr 
              td= `${time.firstName} ${time.lastName}`
              td= `${time.age}`
              td.right= `${time.display}`
      #pro-comp
        table
          tr
            th= " "
            th= "Age"
            th.right= "Time"
          each time in pros
            tr 
              td= `${time.firstName} ${time.lastName}`
              td= `${time.age}`
              td.right= `${time.display}`
      #updates
        if lastTime != null
          table#last
            #firstrow  
            tr
              th= " "
              th.right= "Age"
              th=  ''
              th.right= "Time"
            #lastEntry
            tr 
              td= `${lastTime.firstName} ${lastTime.lastName}`
              td= `${lastTime.age}`
              td= ' '
              td.right= `${lastTime.display}`
  script(type='text/javascript' src='/javascripts/script.js')

