extends layout

block content
  #container
    #overview
      #reg-comp
        table
          tr
            th= "Naam"
            th= "Leeftijd"
            th= "Tijd"
          each time in visitors
            tr 
              td= `${time.firstName} ${time.lastName}`
              td= `${time.age}`
              td= `${time.display}`
      #pro-comp
        table
          tr
            th= "Naam"
            th= "Leeftijd"
            th= "Tijd"
          each time in pros
            tr 
              td= `${time.firstName} ${time.lastName}`
              td= `${time.age}`
              td= `${time.display}`
      #updates
        if lastTime != null
          table#last
            #firstrow  
            tr
              th= "Naam"
              th= "Leeftijd"
              th= "Tijd"
            #lastEntry
            tr 
              td= `${lastTime.firstName} ${lastTime.lastName}`
              td= `${lastTime.age}`
              td= `${lastTime.display}`
  script(type='text/javascript' src='/javascripts/script.js')

